name: Pre-generate preview link

permissions:
    pull-requests: write

on:
    pull_request:
        types: [opened, synchronize]

concurrency:
    group: cloudflare-pages-verify-${{ github.head_ref }}
    cancel-in-progress: true

jobs:
    verify_pull_request:
        runs-on: Ubuntu-latest
        steps:
            - name: Retrieve assignee information
              id: is_organization_member
              if: github.event.action == 'opened'
              run: |
                  response=$(curl -L -w "%{http_code}" -H "Accept: application/vnd.github+json" -H "Authorization: Bearer ${{ secrets.LIST_ORGS_TOKEN }}" -H "X-GitHub-Api-Version: 2022-11-28" "https://api.github.com/orgs/binary-com/memberships/${{ github.event.pull_request.user.login }}")

                  echo $response
                  if [ $response != "200" ]; then
                      echo "result=false" > $GITHUB_OUTPUT
                  else
                      echo "result=true" > $GITHUB_OUTPUT
                
            - name: Create Comment
              if: steps.is_organization_member.outputs.result == false
              run: |
                  echo "User does not belong to binary-com organization."
                  exit 1

            - name: Retrieve PR information
              if: steps.is_organization_member.outputs.result == true
              run: |
                  mkdir -p ./pr
                  echo ${{ github.event.number }} > ./pr/NR
                  echo ${{ github.event.pull_request.base.sha }} > ./pr/HEAD_SHA

            - name: Upload PR information to artifact
              if: steps.is_organization_member.outputs.result == true
              uses: actions/upload-artifact@v2
              with:
                  name: 'pr-${{github.run_id}}'
                  path: pr/
